<div class="wrapper">
  <div #carousel class="carousel" data-target="carousel">
    <div #card class="card" *ngFor='let item of carouselItems'>
      <app-carousel-card [cardItem]="item"></app-carousel-card>
    </div>
  </div>
  <div class="button-wrapper">
    <div (click)="leftButton()"><img height="50" width="50" src="./../../../assets/icons/left.svg" alt=""></div>
    <div (click)="rightButton()"><img height="50" width="50" src="./../../../assets/icons/right.svg" alt=""></div>
  </div>
</div>