.content-wrapper {
  position: relative;
  .carousel-wrapper {
    position: absolute;
    bottom: 20px;
    margin-left: 50%;
    transform: translate(-50%)
  }
}
.map{
  width: 100%;
  height: calc(100vh - 54px);
}